{% extends "index.html" %}
{% block content %} 

<section class="hero">
    <div class="hero-body bg-banner">
      <div class="container">
        <h1 class="title">
          <a>Early Years</a>
        </h1>
        <h2 class="subtitle">
            <p>Franz Liszt, one of the most impressive figures in all of music history, was born on October 22, 1811, in Raiding, Hungary...</p>
        </h2>
      </div>
    </div>
  </section>

  <section class="hero">
    <div class="hero-body bg-banner">
      <div class="container">
        <h1 class="title">
         <a> p2</a>
        </h1>
        <h2 class="subtitle">
            <p>Franz Liszt, one of the most impressive figures in all of music history, was born on October 22, 1811, in Raiding, Hungary...</p>
        </h2>
      </div>
    </div>
  </section>

  <section class="hero">
    <div class="hero-body bg-banner">
      <div class="container">
        <h1 class="title">
         <a>p3</a>
        </h1>
        <h2 class="subtitle">
            <p>Franz Liszt, one of the most impressive figures in all of music history, was born on October 22, 1811, in Raiding, Hungary...</p>
        </h2>
      </div>
    </div>
  </section>
  <section class="hero">
    <div class="hero-body bg-banner">
      <div class="container">
        <h1 class="title">
          <a> p4</a>
        </h1>
        <h2 class="subtitle">
            <p>Franz Liszt, one of the most impressive figures in all of music history, was born on October 22, 1811, in Raiding, Hungary...</p>
        </h2>
      </div>
    </div>
  </section>
<!-- <section class="section">
    <div class="container">
        <div>
            <a href="/biography/early">Early Years</a>
            
            </div>
            
            <div>
                <a href="/biography/early">Career</a>
                <p>Franz Liszt, one of the most impressive figures in all of music history, was born on October 22, 1811, in Raiding, Hungary...</p>
            </div>
            
            <div>
                <a href="/biography/early">Last Years</a>
                <p>Franz Liszt, one of the most impressive figures in all of music history, was born on October 22, 1811, in Raiding, Hungary...</p>
            </div>
        </div>
    </section>
<video src = "https://www.youtube.com/watch?v=gRVvoFfif8E"></video> -->
{% endblock %}